html,body {
    background-color: #AB77FF;
    font-size: 16px;
    color: #FFFFFF;
    width: auto;
    height:auto;
    max-width: 200%;
    max-height: 200%;
}
h1,h2 {
    font-family: "Playfair Display", Georgia, 'Times New Roman', serif;
    text-align: center;
 }
h1 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 4.0em;
    word-spacing: .25em;
    margin-bottom: 0;
}
h2 {
    font-size: 2.8em;
    word-spacing: .2em;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    background-color: #075df2;
    padding: 15px;
    
}
h3 {
    font-weight: 600;
    font-size: 1.6em;
    text-align: center;
}
nav {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 10px;
}
 a {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
    padding: 14px 16px;
    font-family: "Lato" Verdana, sans-serif;
}
header {
    background: radial-gradient(circle, #075df2 0%, #c032fc 100%);
    padding: 10px;
    width: 100%;
}

.container-1 {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
img {
    max-width: 100%;
    object-fit: cover;
}
  
.portrait-img {
    width: 600px;
    margin-bottom: 20px;
    padding: 10px;
    border-color: #FFFFFF;
    border-spacing: 5px;
}
#bio-text {
    width: 700px;
    padding: 20px;
    margin-left: 20px;
    background-color: #840EE6;
    border-radius: 10px; 
    margin-bottom: 80px;  
}
p {
    text-indent: 2em;
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4em;
    margin-bottom: 30px;
}
#quote {
    text-align: center;
    margin-bottom: 10px;
}
.logo {
    width: 175px;
    height: 175px;
    float: right;
    margin-right: 10px;
}
#home, #about, #hobbies {
    text-decoration: none;
}
#home:hover, #about:hover, #hobbies:hover {
    text-decoration: underline;
}
